/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$pad: 50px;

.alert {
	margin-bottom: 50px !important; 
}
a {
	text-decoration: none; 
	color: black; 
}
a:hover {
	text-decoration: none; 
	color: black; 
}
.btn { 
	margin-bottom: 4px !important; 
}
.bottom_padding { 
	padding-bottom: $pad; 
}
.form_area {
	height: 200px !important; 
}
.index_button {
	position: absolute; 
	bottom: 0px; 
}
.index_image {
	width: 50%;
	float: left; 
	padding-right: 20px;  
}
.index_well {
	overflow: auto;
}
.review-rating {
	padding-top: 5px; 
	padding-bottom: 10px; 
}
.show_comment_container {
	padding-top: 10px;
	padding-bottom: 10px;  
}
.show_image {
	width: 100%; 
}
.show_synopsis {
	padding-bottom: 20px; 
}
.show_info_container {
	padding-left: 40px; 
}
.top_padding { 
	padding-top: $pad; 
}
